:root{
  --font-family: 'Noto Serif', sans-serif;
  --color-bg: #fff9e8;
  --color-dark-red: #4b0000;
  --color-accent-red: #5c0f0f;
  --color-blue: #525d86;
}

html {
  overflow-x: hidden;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
}
